<!DOCTYPE html>

<html>
    <head>
        
        <link rel="stylesheet" href="styless.css">
        <title>Bilder</title>
        <script src="script.js" defer></script>
    </head>

    <body>
        <div class="title">
            <h1>Fair-Len</h1>
        </div>
        <div class="loginContainer" id="login">
            <div class="subTitle" onclick="openLogin()">
                <h1>Login</h1>
            </div>
            <div class="username">
                <input type="text" placeholder="Username">
            </div>
            <div class="password">
                <input type="password" placeholder="Password">
            </div>
            <div class="submitlogin">
                <a href="http://172.16.2.196:5000/webseite">Submit</a>
            </div>
        </div>
        <div id="or">
            <h1>or</h1>
        </div>
        <div class="registerContainer" id="register">
            <div class="subTitle" onclick="openRegister()">
                <h1>Register</h1>
            </div>
            <div class="username">
                <input type="text" placeholder="Username">
            </div>
            <div class="password">
                <input type="password" placeholder="Password">
            </div>
            <div class="submitlogin">
                <a href="http://172.16.2.196:5000/webseite">Submit</a>
            </div>
        </div>

    </body>
</html>